body {
    font-family: 'Calluna', serif;
    background-color: #283618;
    color: #283618;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #606C38;
    color: #FEFAE0;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    font-size: larger;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #FEFAE0;
    text-decoration: none;
    font-size: 18px;
}

section {
    background: #DDA15E;
    font-size: large;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 300px;
    height: 450px;
    border-radius: 20%;
    object-fit: cover;
    border: 2px solid #BC6C25;
}

.bio {
    font-size: large;
    color: #283618;
    padding: 20px;
}

.project {
   font-size: large; 
}

.resume_text {
    font-size: large;
    color: #283618;
    padding: 10px;
    text-align: left;
}

.work_experience {
    font-size: large;
    color: #283618;
    padding: 10px;
    text-align: left;
}